# .gitignore for Terraform

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which might contain sensitive data
*.tfvars
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore plan files
*.tfplan
*.zip

# Ignore tfstate and tfstate backup files
*.tfstate
*.tfstate.*

# IDEs
.idea/
*.swp
*.swo
*~
.vscode/

# OS
.DS_Store
Thumbs.db
